
#binary files info
/info.txt

#do not ignore /termux_scripts if empty
!termux_scripts/.keep

#do not ignore /universal_scripts if empty
!universal_scripts/.keep

#do not ignore /snippets if empty
!snippets/.keep
